<button mat-raised-button
        [routerLink]="'/user'"
        color="primary">Regresar Lista Empleados</button>

<div *ngIf='employeeDetail'>
    <p>
        <label class="labelEmployeeDetail">ID: </label> {{employeeDetail.id}}
    </p>
    <p>
        <label class="labelEmployeeDetail">Name: </label> {{employeeDetail.name}}
    </p>
    <p>
        <label class="labelEmployeeDetail">Age: </label> {{employeeDetail.age}}
    </p>

    <div class="labelEmployeeDetail divColor">Favorite Color: &nbsp; {{employeeDetail.favoriteColor.toUpperCase()}} &nbsp;&nbsp;</div>
    <div class="div-background-color divColor"
         [style.background-color]="employeeDetail.favoriteColor">&nbsp;</div>
    <br>
    <p>
        <label class="labelEmployeeDetail">Company: </label> {{employeeDetail.company}}
    </p>
    <p>
        <label class="labelEmployeeDetail">Project: </label> {{projectId}} - {{projectName}}
        <button mat-raised-button
                [routerLink]="'/project/'+projectId"
                color="primary">Ver Proyecto</button>
    </p>
</div>